.container {
    margin: 0 !important;
}
.teams-container {
    height: 80vh;
    margin-bottom: 5px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
}
.team-container {
    border: 2px solid black;
    border-radius: 10px !important;
    margin: 5px;
}
.table {
    align-self: center;
}