.background-image > img{
    display: block !important;
    position: absolute !important;
    z-index: -1 !important;
    opacity: 0.5 !important;
    scale: 1;
    text-align: center !important;
}
.schedule-container {
    overflow: scroll !important;
    overflow-x: hidden !important;
    height: 50vh;
    border-bottom: 2px solid black
}
.roster-container {
    overflow: scroll !important;
    overflow-x: hidden !important;
    height: 50vh;
    border-bottom: 2px solid black;
}
